.container{
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}
.mainContainer__left{
    flex: 0.5;
}
.mainContainer__right{
    flex: 0.5;
}
.homeImage {
  max-width: 100%;
  height: auto;
}
.mainContainer__left > p:nth-child(1){
    font-size: 2.5rem;
}
.mainContainer__left > p:nth-child(2){
    color: #4d4d4d;
    font-size: 1.5rem;
}


